[user]
	name = ChanderG
	email = mail@chandergovind.org
[alias]
[alias]
	s = status
	b = branch
	serve = daemon --verbose --export-all --base-path=.git --reuseaddr --strict-paths .git/
	co = checkout
[core]
	editor = vim
[push]
	default = matching
