xterm*faceName: xft:monospacesize=18:antialias-false
xterm*utf8: 1

/* XCursor.theme: bridge */

Xmessage*font: -misc-liberation mono-*-r-*-*-30-*-*-*-m-*-*-*

!urxvt*transparent: true
!urxvt*shading: 45

/* URxvt.font: xft:monospace:size=22:antialias-false */
/* URxvt.letterSpace: -1 */

URxvt.font: xft:Fantasque Sans Mono:style=Regular:size=25
URxvt.letterSpace: 0

URxvt.scrollBar: false
URxvt.perl-ext:
URxvt.perl-ext-common:
URxvt.saveLines: 0
URxvt.urgentOnBell: true

URxvt*background: black
URxvt.cursorColor: #ffffff
URxvt*foreground: white

# 2 font sizes for ease of use
URxvt.keysym.M-minus: command:\033]50;xft:Fantasque Sans Mono-26\007
URxvt.keysym.C-minus: command:\033]50;xft:Fantasque Sans Mono-20\007

!! tangoesque scheme
!*background: #111111
!*foreground: #babdb6
!! Black (not tango) + DarkGrey
!*color0:  #000000
!*color8:  #555753
!! DarkRed + Red
!*color1:  #ff6565
!*color9:  #ff8d8d
!! DarkGreen + Green
!*color2:  #93d44f
!*color10: #c8e7a8
!! DarkYellow + Yellow
!*color3:  #eab93d
!*color11: #ffc123
!! DarkBlue + Blue
!*color4:  #204a87
!*color12: #3465a4
!! DarkMagenta + Magenta
!*color5:  #ce5c00
!*color13: #f57900
!!DarkCyan + Cyan (both not tango)
!*color6:  #003366
!*color14: #46a4ff
!! LightGrey + White
!*color7:  #cccccc
!*color15: #ffffff

*foreground:  #e6d4a3
*background:  #1e1e1e
*cursorColor: #bbbbbb
!
! Black
*color0:      #161819
*color8:      #7f7061
!
! Red
*color1:      #f73028
*color9:      #be0f17
!
! Green
*color2:      #aab01e
*color10:     #868715
!
! Yellow
*color3:      #f7b125
*color11:     #cc881a
!
! Blue
*color4:      #719586
*color12:     #377375
!
! Magenta
*color5:      #c77089
*color13:     #a04b73
!
! Cyan
*color6:      #7db669
*color14:     #578e57
!
! White
*color7:      #faefbb
*color15:     #e6d4a3
!
! Bold, Italic, Underline
*colorBD:     #978771
!*.colorIT:
!*.colorUL:
