xterm*faceName: Liberation Mono:size=15:antialias=false

URxvt*transparent: true
URxvt*shading: 60
URxvt.scrollBar: false
URxvt.font: xft:monospace:size=16:antialias-false
URxvt.letterSpace: -1
URxvt*background: black
URxvt*foreground: white
URxvt.perl-ext:
URxvt.perl-ext-common:
URxvt.saveLines: 0
